<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel ="stylesheet" href="/style.css">
    <title>Rock Paper Scissors Game</title>
  </head>
  <body>
<nav>
    <ul>
    <li><a href = '/'><button>home</button></a></li>
    <li><a href = '/about_game'><button>about game</button></a></li>
    <li><a href = '/play_game/:move1/:move2'><button>play game</button></a></li>
  </ul>
 </nav>


    <p2><%= yield  %></p2>

  </body>
</html>
